---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Главная";
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<BaseLayout pageTitle={pageTitle}>

	<h1>Мой сайт на Astro</h1>
	<h1>{pageTitle}</h1>
	<p>Здесь я буду писать о своём путешествии в обучении Astro.</p>
	<ul>
		{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
	</ul>

</BaseLayout>